
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
/* basic css from the tic tac toe tutorial to get a basic board set up in the beginning */

body {
  /* font: 14px "Century Gothic", Futura, sans-serif; */
  font-family: 'VT323', monospace;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}



.square {
  background: #fff;
  border: 1px solid rgb(88, 81, 81);
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.game-info {
  margin-left: 20px;
}

.hidden {
  background-color: #4d79cc;
  /* Make this font-size 0 so until it is clicked, nothing will show */
  font-size: 0;
}

.losing-bomb {
  background-color: red;
}

.flag {
  /* background-color: blue; */
  /* Make this font-size 0 so until it is clicked, nothing will show */
  font-size: 0;
  background: url("./flag-red.svg");
  background-size: 34px 34px;
  background-repeat: no-repeat;
  background-color: #4d79cc;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#information {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}



button {
  display: inline-block;
  border: none;
  /* using rem here which is the root elements font size */
  padding: 1rem 1rem;
  margin: 0;
  text-decoration: none;

  font-family: 'VT323', monospace;
  /* font-size: 1rem; */
  /* make the cursor a cool one */
  cursor: pointer;
  text-align: center;
}

#restartButton {
  background: #0069ed;
  color: #ffffff;
  border-radius: 5px;
  font-size: 20px;
}

#helpButton {
  background: #0069ed;
  color: #ffffff;
  border-radius: 5px;
  width: 80px;
  font-size: 20px;

}

#settingsButton {
  background: #0069ed;
  color: #ffffff;
  border-radius: 5px;
  font-size: 20px;
}


#message {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 20px; */
  font-size: 2rem;
  width: 100%;
  margin-bottom: 20px;
}

#howTo {
  width: 300px;
}

#everything {
  background-color: #c334d6;
  width: 700px;
  border-radius: 10px;
  border: black solid 3px;
  font-size: 40px;
}

#settings {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width:300px;
}

#bottomDiv {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
}

.inputs {
  margin:5px;
  display: flex;
  justify-content: space-between;
}

#board {
  display: flex;
  justify-content: center;
}